<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <h3 ng-repeat="object in vm.results">{{object}}</h3>
                    </div>
                    <div class="container">
                        <textarea id="id" name="id" ng-model="vm.id"></textarea>
                        <textarea id="password" name="password" ng-model="vm.password"></textarea>
                        <button type="submit"  ng-click="vm.addUser()">Submit</button>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>